/*-~- variables -~-*/
// Font
$font-main: sans-serif;
$font-sec: serif;
$font-tr: 'Roboto', sans-serif; 

// Colors
$black: #000;
$black-rgba: rgba(0,0,0,0.5);
$white: #fff;
$grey: #9d9fa2;
$blue: #131EEB;
$pink: #F408B9;
$gold: #FFD700;
$silver: #C0C0C0;
$white: white;
$orange: #ff9900;
$gradient-bg: linear-gradient(to left, #669999 0%, #000066 100%);
$nonamecolor: #7f8e84;
$nonamecolor2: #b5e2c4;
//Nav Mobile Color Values///
$mobileBars: #91F;
$navDropBgColor: #11E;
$navDropColor: aquamarine;
////////////////////////////

// Durations
$fastDuration: .1s;
$mediumDuration: .3s;
$slowDuration: .6s;

/*-~- breakpoints -~-*/
$tablet-min: '600px';
$tablet-max: '1024px';