<div>
    <div ng-show='responsive'>
        <div class="nav">
            <a href='#'><div class='logoMobile'>MOBILE</div></a>
            <a href='#'><div class='mobile-menu' data-artisan-dropdown='#navDropMobile1'>|||</div></a>
        </div>
        <div id='navDropMobile1' class='artisan-dropdown-menu artisan-dropdown-pos-full artisan-dropdown'>
            <ul>
                <a ui-sref='home'><li>Home</li></a>
                <a href="#"><li>Link</li></a>
                <a href="#"><li>Link</li></a>
                <a href="#"><li>Link</li></a>
                <a href="#"><li>Link</li></a>
                <a href="#"><li>Link</li></a>
            </ul>
        </div>
    </div>
    <!--Desktop+tablet goes on from here-->
    <div ng-show='!responsive'>
        <div class="nav">
            <div class='main-container artisan-responsive'>
                <ul class='col-9'>
                    <a href='#'><li class="btn-tab">LOGO</li></a>
                    <a ui-sref='testMain.test'><li class="btn-tab">Find a job</li></a>
                    <a href="#"><li class="btn-tab">Find resumes</li></a>
                    <a href="#"><li class="btn-tab">Post a job</li></a>
                    <a href='#'><li data-artisan-dropdown="#navDrop1" class="btn-tab">Pages <span class="triangle">&#x25BC;</span></li></a>
                    <a href='#'><li data-artisan-dropdown="#navDrop2" class="btn-tab">Features <span class="triangle">&#x25BC;</span></li></a>
                </ul>
                <ul class='col-3'>
                    <a href="#"><li class="btn-login">Login</li></a>
                    <a href="#"><li class="btn-register">Register</li></a>
                </ul>
            </div>
        </div>
        <div id='navDrop1' class='artisan-dropdown-menu artisan-dropdown-pos-left artisan-dropdown'>
            <ul>
                <a ui-sref="testMain.test2"><li>UI Test</li></a>
                <a href="#"><li>Link 2</li></a>
                <a href="#"><li>Link 3</li></a>
        </div>
        <div id='navDrop2' class='artisan-dropdown-menu artisan-dropdown-pos-left artisan-dropdown'>
            <ul>
                <a href="#"><li>test 1</li></a>
                <a href="#"><li>Link 2</li></a>
                <a href="#"><li>Link 3</li></a>
            </ul>
        </div>
</div>