<div>
    <div ng-if='responsive'>
        <div class="nav">
            <a href='#'><div class='logoMobile'>MOBILE</div></a>
            <a href='#' data-artisan-dropdown='#navDropMobile1'><!--<div class='mobile-menu'>|||</div>-->Test</a>
            <div id='navDropMobile1' class='artisan-dropdown-menu'>
                <ul>
                    <a ui-sref='home'><li>Home</li></a>
                    <a href="#"><li>Link</li></a>
                    <a href="#"><li>Link</li></a>
                    <a href="#"><li>Link</li></a>
                    <a href="#"><li>Link</li></a>
                    <a href="#"><li>Link</li></a>
                </ul>
            </div>
        </div>
    </div>
    <!--Desktop+tablet goes on from here-->
    <div ng-if='!responsive'>
        <div class="main-container nav">
            <ul>
                <a href='#'><li>LOGO</li></a>
                <a ui-sref='home'><li>Find a job</li></a>
                <a href="#"><li>Find resumes</li></a>
                <a href="#"><li>Post a job</li></a>
                <a href='#'><li data-jq-dropdown="#navDrop1">Pages <span class="triangle">&#x25BC;</span></li></a>
                <a href='#'><li data-jq-dropdown="#navDrop2">Features <span class="triangle">&#x25BC;</span></li></a>
                 <a href="#"><li class="register-btn">Register</li></a>
                <a href="#"><li class="login-btn">Login</li></a>
            
            </ul>
        </div>
        <div id='navDrop1' class='jq-dropdown'>
            <ul class='jq-dropdown-menu'>
                <a href="#"><li>Link 1</li></a>
                <a href="#"><li>Link 2</li></a>
                <a href="#"><li>Link 3</li></a>
        </div>
        <div id='navDrop2' class='jq-dropdown'>
            <ul class='jq-dropdown-menu'>
                <a href="#"><li>test 1</li></a>
                <a href="#"><li>Link 2</li></a>
                <a href="#"><li>Link 3</li></a>
            </ul>
        </div>
</div>