<div>
    <h4>{{ resume.data.resumeName }}</h4>
    <p>{{ resume.data.resumeTown }}</p>
    <p>{{ resume.data.resumeState }}</p>
    <p>{{ resume.data.resumeEducation }}</p>
    <p>{{ resume.data.resumeEducationSchool }}</p>
    <p>{{ resume.data.resumeJobCompanyExp1 }}</p>
    <p>{{ resume.data.resumeJobCompanyExp2 }}</p>
    <p>{{ resume.data.resumeJobCompanyExp3 }}</p>
    <p>{{ resume.data.resumeJobResposibilitesExp1 }}</p>
    <p>{{ resume.data.resumeJobResposibilitesExp2 }}</p>
    <p>{{ resume.data.resumeJobResposibilitesExp3 }}</p>
    <p>{{ resume.data.resumeJobSkilledUsedExp1 }}</p>
    <p>{{ resume.data.resumeJobSkilledUsedExp2 }}</p>
    <p>{{ resume.data.resumeJobSkilledUsedExp3 }}</p>
    <p>{{ resume.data.resumeJobTitleExp1 }}</p>
    <p>{{ resume.data.resumeJobTitleExp2 }}</p>
    <p>{{ resume.data.resumeJobTitleExp3 }}</p>
    <p>{{ resume.data.resumeSchoolTown }}</p>
</div>