/*-~- layout -~-*/
html {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: $font-main;
    font-size: 14px;
    color: $black;
    background-color: $white;

    /*-~- Grid Base -~-*/
    .main-container {
        max-width: 1280px;
        // width: 100%;
        margin: 0 auto;
        position: relative;
        padding: 0;
        &:after {
            content: '';
            display: table;
            clear: both;
        }
        .col-1{
            float: left;
            position: relative;
            width: 8%;
            margin-right: .15%;
            padding: 5px 0;

            &:last-of-type {
                margin-right: 0;
            }
        }
        .col-2 {
            float: left;
            position: relative;
            width: 16%;
            margin-right: .3%;
            padding: 5px 0;

            &:last-of-type {
                margin-right: 0;
            }
        }
        .col-3 {
            float: left;
            position: relative;
            width: 24%;
            margin-right: .5%;
            padding: 5px 0;

            &:last-of-type {
                margin-right: 0;
            }
        }
        .col-4 {
            float: left;
            position: relative;
            width: 33%;
            margin-right: .15%;

            &:last-of-type {
                margin: 0;
            }
        }
        .col-5 {
            float: left;
            position: relative;
            width: 41%;
            margin-right: .3%;

            &:last-of-type {
                margin: 0;
            }
        }
        .col-6 {
            float: left;
            position: relative;
            width: 49%;
            margin-right: .5%;

            &:last-of-type {
                margin: 0;
            }
        }
        .col-7 {
            float: left;
            position: relative;
            width: 58%;
            margin-right: .15%;

            &:last-of-type {
                margin: 0;
            }
        }
        .col-8 {
            float: left;
            position: relative;
            width: 66%;
            margin-right: .3%;

            &:last-of-type {
                margin: 0;
            }
        }
        .col-9 {
            float: left;
            position: relative;
            width: 74%;
            margin-right: .4%;

            &:last-of-type {
                margin: 0;
            }
        }
        .col-10 {
            float: left;
            position: relative;
            width: 83%;
            margin-right: 0.15%;

            &:last-of-type {
                margin: 0;
            }
        }
        .col-11 {
            float: left;
            position: relative;
            width: 91%;
            margin-right: .3%;

            &:last-of-type {
                margin: 0;
            }
        }
        .col-12 {
            float: left;
            position: relative;
            width: 100%;
            // margin-right: 0.25%;

            // &:last-of-type {
            //     margin: 0;
            // }
        }
    }
//Decide are you gonna be doing PHONE or DESKTOP first styling

//If you're doing PHONE first,
//      just fill in the blanks
//      inside the partials in folder 'layout-media'

//If you are doing DESKTOP first,
//      uncomment the phone import and comment out the desktop one,
//      then fill in the blanks
//      inside the partials in folder 'layout-media'

    //Phone
    .nav-pos{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    .nav-align-left{
        float: left;
    }
    .nav-align-right{
        float: right;
    }

    .nav{
        background-color: cyan;
        padding: 15px;
        width: 100%;
        overflow: hidden;
        .mobile-menu{
            background-color: yellow;
            float: right;
            width: 25px;
            text-align: center;
            border-radius: 25%;
            padding: 2.5px;
            padding-bottom: 5px;
            transform: rotate(-90deg);
        }
        .logoMobile{
            float: left;
            width:75px;
            margin: 0;
            padding: 5px;
        }
        ul{
            li{
                text-align: center;
                padding: 5px;
                margin-right: 4%;
                &:last-of-type {
                    margin: 0;
                }
            }
            
        }
        
        @include breakpoint(tablet) {
            ul{
                li{
                    float: left;
                }
            }
        }
        @include breakpoint(desktop) {
            ul{
                li{
                    float: left;
                }
            }
        }
    }


    @import 'layout-media/layout-tablet';

    @import 'layout-media/layout-desktop';

    // @import 'layout-media/layout-phone';

}