@include breakpoint(tablet) {
    //Modify Dropdown
    .artisan-dropdown{
        ul{
            a{
                li{
                    background-color: yellow;
                }
            }
        }
    }
    .main-container{
        direction:ltr;
        display:flex;
        flex-direction:column-reverse;
        .col-9{
            width: 100%;

 }
        .col-3{
            width: 250px;
        
        }
    }
    .nav{
        background-color: green;
        font-family: $font-tr;
        font-weight: bold;
        a li.btn-tab{
            // float:left;
            transition: all $fastDuration ease-in-out;
            border-left: 2px solid $black;
            border-right: 2px solid $black;
            border-radius: 10%;
            margin-right: 2px;
            &:hover {
                background-color: $black-rgba;
                color: $white;
                cursor: pointer;
            }
        }
        a li.btn-tab.font-change{
                font-weight: 100;
            }
        a li.btn-register{
            color: $white;
            background-color: $black;
            padding: 3px 25px;
            border-radius: 10% 10%;
            &:hover {
                background-color: $white;
                color:$black;
                transition: all $fastDuration ease-in-out;
            }
            
        }
        a li.btn-login{
           color: $white;
            background-color: $black;
            padding: 3px 20px;
            // float: right;
            border-radius: 10% 10%;
            margin-right:2px;
            &:hover {
                background-color: $white;
                color:$black;
                transition: all $fastDuration ease-in-out;
        }
   }
   .triangle{
       font-size: 12px;
   }
}  
}