@include breakpoint(tablet) {
    .nav{
        background-color: $green;
    }
    .nav{
        a {
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
        }
    }
    
}