@include breakpoint(desktop) {
    //Modify Dropdown
    .artisan-dropdown{
        ul{
            a{
                li{
                    background-color: $grey;
                }
            }
        }
    }
   .nav{
        background-color: $silver;
        font-family: $font-tr;
        font-weight: bold;
        a li.btn-tab{
            transition: all $fastDuration ease-in-out;
            border-left: 2px solid $black;
            border-right: 2px solid $black;
            border-radius: 10%;
            margin-right: 2px;
            
            &:hover {
                background-color: $black-rgba;
                color:$white;
                cursor: pointer;
            }
        }
         a li.btn-tab.font-change{
                font-weight: 100;
            }
        a li.btn-login{
            color: $white;
            background-color: $black;
            padding: 3px 25px;
            border-radius: 10% 10%;
            margin-right: 10px;
            &:hover {
                background-color: $white;
                color:$black;
                transition: all $fastDuration ease-in-out;
            }
        }
        a li.btn-register{
            color: $white;
            background-color: $black;
            padding: 3px 20px;
            border-radius: 10% 10%;
            &:hover {
                background-color: $white;
                color:$black;
                transition: all $fastDuration ease-in-out;
            }
        }
   }
   .triangle{
       font-size: 12px;
   }
}

.logo{
    background-color: $grey;
    width:100%;
    height:200px;
    background-image: url("C:\Users\DOIT_FEDN_USER2\Desktop\Gojkova Mustra\DOIT_Team2_FinalProject\client\images\img");
}